.ace_content{
	background: #2E2E2E !important;
}

.ace_gutter{
	background: #DCDCC6 !important;
}

.ace_gutter-cell{
	background: #c4c4b0 !important;
}

.main-toolbar{
	background: #073141 !important;
}

.ace-tm {
	background-color: #000000 !important;
	color: #FFFFFF !important;
}

 .ace-tm .ace_cursor {
     color: white !important; 
}

.ace-tm .ace_storage, .ace-tm .ace_keyword {
     color: #E89D47 !important;
}

 .ace-tm .ace_constant.ace_language {
     color: #6098f2 !important;
}

.ace_constant .ace_language .ace_boolean{
	color: #6098f2 !important;
}

.ace-tm .ace_constant.ace_numeric{
	color: #99ccff !important;
}

.ace-tm .ace_comment{
	color :#aac183 !important;
}

.ace-tm .ace_support.ace_function{
	color: #ffe6b3 !important;
}

.ace-tm .ace_support.ace_type{
	color: #8080ff !important;
}

.ace_gutter-cell{
	background: #1a1a1a !important;
	color: white !important;
} 

.ace_gutter-layer{
	background: #1a1a1a !important;
}

.style-scope .boards-panel{
	color: white !important;
}

.style-scope.boards-panel.x-scope.paper-item-0{
	color: black !important;
	background: white !important;
}

.style-scope .paper-input{
	color: white !important;

}

.panel-right{
	background: #1a1a1a !important;
}

.style-scope .gs-board{
	background: beige !important;
	color: black !important;
}

.gbs_lv .gbs_lvl .style-scope .gs-board{
	background: #1a1a1a !important;
}

.ace_gutter-cell.ace_error{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAABOFBMVEX/////////QRswFAb/Ui4wFAYwFAYwFAaWGAfDRymzOSH/PxswFAb/SiUwFAYwFAbUPRvjQiDllog5HhHdRybsTi3/Tyv9Tir+Syj/UC3////XurebMBIwFAb/RSHbPx/gUzfdwL3kzMivKBAwFAbbvbnhPx66NhowFAYwFAaZJg8wFAaxKBDZurf/RB6mMxb/SCMwFAYwFAbxQB3+RB4wFAb/Qhy4Oh+4QifbNRcwFAYwFAYwFAb/QRzdNhgwFAYwFAbav7v/Uy7oaE68MBK5LxLewr/r2NXewLswFAaxJw4wFAbkPRy2PyYwFAaxKhLm1tMwFAazPiQwFAaUGAb/QBrfOx3bvrv/VC/maE4wFAbRPBq6MRO8Qynew8Dp2tjfwb0wFAbx6eju5+by6uns4uH9/f36+vr/GkHjAAAAYnRSTlMAGt+64rnWu/bo8eAA4InH3+DwoN7j4eLi4xP99Nfg4+b+/u9B/eDs1MD1mO7+4PHg2MXa347g7vDizMLN4eG+Pv7i5evs/v79yu7S3/DV7/498Yv24eH+4ufQ3Ozu/v7+y13sRqwAAADLSURBVHjaZc/XDsFgGIBhtDrshlitmk2IrbHFqL2pvXf/+78DPokj7+Fz9qpU/9UXJIlhmPaTaQ6QPaz0mm+5gwkgovcV6GZzd5JtCQwgsxoHOvJO15kleRLAnMgHFIESUEPmawB9ngmelTtipwwfASilxOLyiV5UVUyVAfbG0cCPHig+GBkzAENHS0AstVF6bacZIOzgLmxsHbt2OecNgJC83JERmePUYq8ARGkJx6XtFsdddBQgZE2nPR6CICZhawjA4Fb/chv+399kfR+MMMDGOQAAAABJRU5ErkJggg==") !important;
	background-repeat: no-repeat !important;
    background-position: 2px center !important;
}

.ace_gutter-cell.ace_info{
	background-repeat: no-repeat !important;
    background-position: 2px center !important;
}

.gbs_lh .gbs_lht .style-scope .gs-board{
	color: black !important;
}

.procedures-hint-content.style-scope.gobstones-editor{
	color: white !important;
}

.ui-resizable-e{
	background: #1a1a1a !important;
	width: 2px !important;
	right: -2px !important;
}

.ace-widget-1 #editor.ace-widget{
	border: none !important;
}

.ace-widget .gobstones-editor{
	background: black !important;
}

.style-scope .paper-drawer-panel .iron-selected{
	background: #1a1a1a !important
}

.menu-header-gobstones.left-menu {

	background: #1a1a1a !important;
}

.style-scope .left-menu{
	color: white !important;
}

.style-scope.boards-panel.x-scope.paper-tab-0.iron-selected{
	background: #b50909!important;
} 
